<!DOCTYPE html>
<html>
<head>
    @*<base href="~/" />*@
    <base href="~/" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />      
    <title>@ViewData["Title"]</title>
    <link href="~/dist/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/dist/site.css" asp-append-version="true" />
</head>
<body>
    @RenderBody()

    <script src="~/dist/polyfills-bundle.js" asp-append-version="true"></script>
    <script src="~/dist/angular-bundle.js" asp-append-version="true"></script>
    <script src="~/dist/vendor-general-bundle.js" asp-append-version="true"></script>
    <script src="~/dist/rxjs-bundle.js" asp-append-version="true"></script>   
    <script src="~/dist/main-bundle.js" asp-append-version="true"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
