<!DOCTYPE html>
<html>
<head>
    @*<base href="~/" />*@
    <base href="~/" />
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />     
    <meta name="description" content="Internal application description">
    <title>@ViewData["Title"]</title>
    <link href="~/dist/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/dist/styles/site.css" asp-append-version="true" />
</head>
<body>
    @RenderBody()

    <script src="~/dist/scripts/polyfills-bundle.js" asp-append-version="true"></script>
    <script src="~/dist/scripts/angular-bundle.js" asp-append-version="true"></script>
    <script src="~/dist/scripts/vendor-general-bundle.js" asp-append-version="true"></script>
    <script src="~/dist/scripts/rxjs-bundle.js" asp-append-version="true"></script>   
    <script src="~/dist/scripts/main-bundle.js" asp-append-version="true"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
